import playlistStore from "../models/playlist-store.js";
import appStore from "../models/app-store.js";

{{> menu id="dashboard"}}

<section class="ui segment">
  <h2>My Playlists</h2>

    {{#each playlists}}
    <div class="ui segment">
        <h3>{{title}}</h3>
        <p>Total Songs: {{songs.length}}</p>
        <a href="/playlist/{{id}}" class="ui button">View Playlist</a>
    </div>
    {{/each}} 

</section>