{{> menu}}

<section class="ui center aligned middle aligned segment">
<link rel="stylesheet" href="/style.css">
  
  <h2>Playlist App</h2>

  <p>
    Welcome to the Playlist App. This is a simple application where you can create and manage your music playlists. Use the dashboard to view playlists. There are some songs already added to the app, so feel free to explore and create your own playlists!
  </p>

  <img src="/app.png" alt="FL Studio" class="app-image">
  <img src="/FL.png" alt="FL Studio" class="fl-image">

</section>
